<div class="container">
  <div class="row mb-5 mt-4">
    <div class="col-3">
      
      <button class="btn btn-danger mx-auto d-block" (click)="deleteDreams()" [disabled]="service.dreams.length <= 0">حذف جميع الأحلام</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary mx-auto d-block" (click)="getAll('all')" > كل الاحلام</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary mx-auto d-block" (click)="getAll('Interpretered')" >الأحلام المفسرة</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary mx-auto d-block" (click)="getAll('unInterpretered')" >الأحلام غير المفسرة</button>
    </div>
  </div>
  <table class="table table-bordered shadow p-3 mb-5 bg-white rounded">
    <thead>
      <tr>
        <th>الرقم</th>
        <th>صاحب الحلم</th>
        <th>الحلم</th>
        <th>وقت إنشاء الحلم</th>
        <th>وقت التفسير</th>
        <th>مدة التفسير</th>
        <th>حالة الحلم</th>
        <th>اسم المفسر</th>
        <th>رقم المفسر</th>
        <th>سعر الحلم</th>
        <th></th>
        <!--<th>تاريخ التفسير</th>-->


      </tr>
    </thead>
    <tbody><!-- <mat-icon style="color: green">whatsapp</mat-icon> -->
      <tr *ngFor="let item of service.dreams| paginate: { itemsPerPage: 100, currentPage: p }; index as i">
        <td>{{ (10 * (p - 1) + i) + 1 }}</td>
        <td style="direction: ltr;"><a href="https://wa.me/{{ item.Creator }}" target="_blank">{{ item.Creator }}</a></td>
        <td>{{item.dream}}</td>
        <td>{{ item.dreamCreationDate | date }}</td>
        <td>{{item.createtionDate | date}}</td>
        <td>{{ item.interpretationPeriod }}</td>
        <td *ngIf="item.Status == 'Under_Interpretation' || item.Status == 'Active'; else elseBlock">قيد التفسير</td>
        <ng-template #elseBlock>
         <td> تم التفسير</td>
        </ng-template>

        <td>{{ item.interpreterName }}</td>
        <td style="direction: ltr;"><a href="https://wa.me/{{ item.interpreterPhone }}" target="_blank">{{ item.interpreterPhone }}</a></td>
        <td>{{ item.dreamPrice}}</td>
        <td>
          <button class="btn text-danger" (click)="deleteSingleDream(item.DreamId)"><mat-icon>delete</mat-icon></button>
        </td>

        <!--<td>{{item.interpretationTime| date}}</td>
        <td>{{item.interpretationPeriod/60 | number:'1.0-0'}} ساعة</td>-->

      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
    previousLabel="السابق"
    nextLabel="التالي"  (pageChange)="p = $event" class="col-md-10"></pagination-controls>
  </div>

</div>

