<div>
<mat-nav-list>
  <h2 matSubheader class="mt-2 nav-title">لوحة التحكم</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>signal_cellular_alt</mat-icon>الإحصائيات
  </a>
  <a mat-list-item routerLink="/employees" routerLinkActive="list-item-active">
    <mat-icon>groups</mat-icon>الموظفين
  </a>
  <a mat-list-item routerLink="/dreams" routerLinkActive="list-item-active">
    <mat-icon>description</mat-icon>الأحلام
  </a>
  <a mat-list-item routerLink="/purchases" routerLinkActive="list-item-active">
    <mat-icon>shopping_cart</mat-icon>المشتريات
  </a>
  <!--<a mat-list-item routerLink="/users" routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>المستخدمين
  </a>-->
  <a class="logout-btn btn btn-danger d-block text-white w-75 mx-auto mt-4" style="text-decoration: none;" *ngIf="isAuth == 'true'" (click)="logout()">
    تسجيل الخروج
  </a>
</mat-nav-list>
</div>

